{% extends 'base.html.twig' %}

{% block title %}Restaurants list{% endblock %}

{% block body %}
    <div class="m-4 col-lg-10">
        <a href="{{ path('restaurant_create') }}" class="btn btn-primary">NEW RESTAURANT</a>
        <form method="get" action="{{ path('restaurant') }}">
            <div class="form-inline">
                <input class="form-control" placeholder="Restorant title" name="title">
                <button type="submit" class="m-1 btn btn-info">FIND</button>
            </div>
        </form>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">ID</th>
            <th scope="row">Title</th>
            <th scope="row">Photo</th>
            <th scope="row">Active</th>
            <th scope="row">Active tables</th>
            <th scope="row">Edit</th>
            <th scope="row">Tables</th>
            <th scope="row">Delete</th>
        </tr>
        {% for restaurant in restaurants  %}
            <tr>
                <td>{{ restaurant.0.id }}</td>
                <td>{{ restaurant.0.title }}</td>
                <td>
                {% if restaurant.0.photo %}
                    <img src="{{ vich_uploader_asset(restaurant.0, 'uploadedPhoto') | imagine_filter('resize_table') }}" alt="{{ restaurant.0.title }}" />
                {% endif %}
                </td>
                <td>
                    {% if restaurant.0.active == true %}
                        <span class="badge badge-success">YES</span>
                    {% else %}
                        <span class="badge badge-danger">NO</span>
                    {% endif %}
                </td>
                <td>{{ restaurant.TableCount }}</td>
                <td>
                    <a href="{{ path('restaurant_edit', {'id': restaurant.0.id}) }}" class="btn btn-info">EDIT</a>
                </td>
                <td>
                    <a href="{{ path('table', {'id': restaurant.0.id}) }}" class="btn btn-secondary">TABLES</a>
                </td>
                <td>
                    <a href="{{ path('restaurant_delete', {'id': restaurant.0.id}) }}" class="btn btn-danger">DELETE</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <div class="text-center">
            {% if page > 1 %}
                <a href="{{ path('restaurant', { 'page': page-1, 'title': app.request.query.get('title') }) }}" class="btn btn-dark">PREVIOUS</a>
            {% endif %}
            {% if page < pageCount %}
                <a href="{{ path('restaurant', { 'page': page+1, 'title': app.request.query.get('title') }) }}" class="btn btn-dark">NEXT</a>
            {% endif %}
        </div>
        <div class="small text-center">
            Current page: {{ page }}. Total pages: {{ pageCount }}
        </div>
    </div>
{% endblock %}
